In [1]:
from matplotlib import pyplot as plt  # type: ignore
from matplotlib import cm, colors  # type: ignore
from dotenv import load_dotenv
import geopandas as gpd  # type: ignore
import sqlalchemy as sq
import pandas as pd  # type: ignore
import numpy as np
import os, sys

sys.path.append("../")
from Shared.DataService import DataService

from Datasets.DataCreation import (
    getDatasetV1,
    getWeatherData_v1,
    getDatasetV2,
    getSoilData,
    getDatasetV3,
)

/home/student/dodhiajk/CGC_Grain_Outcome_Predictions/.venv/lib/python3.10/site-packages/geopandas/_compat.py:124: UserWarning: The Shapely GEOS version (3.11.1-CAPI-1.17.1) is incompatible with the GEOS version PyGEOS was compiled with (3.10.4-CAPI-1.16.2). Conversions between both will be slow.
  warnings.warn(
/tmp/ipykernel_3436601/495281901.py:4: DeprecationWarning: Shapely 2.0 is installed, but because PyGEOS is also installed, GeoPandas still uses PyGEOS by default. However, starting with version 0.14, the default will switch to Shapely. To force to use Shapely 2.0 now, you can either uninstall PyGEOS or set the environment variable USE_PYGEOS=0. You can do this before starting the Python process, or in your code before importing geopandas:

import os
os.environ['USE_PYGEOS'] = '0'
import geopandas

In the next release, GeoPandas will switch to using Shapely by default, even if PyGEOS is installed. If you only have PyGEOS installed to get speed-ups, this switch should be smooth. However, if you are using PyGEOS directly (calling PyGEOS functions on geometries from GeoPandas), this will then stop working and you are encouraged to migrate from PyGEOS to Shapely 2.0 (https://shapely.readthedocs.io/en/latest/migration_pygeos.html).
  import geopandas as gpd  # type: ignore

In [2]:
load_dotenv()
PG_DB = os.getenv("POSTGRES_DB")
PG_ADDR = os.getenv("POSTGRES_ADDR")
PG_PORT = os.getenv("POSTGRES_PORT")
PG_USER = os.getenv("POSTGRES_USER")
PG_PW = os.getenv("POSTGRES_PW")

if (
    PG_DB is None
    or PG_ADDR is None
    or PG_PORT is None
    or PG_USER is None
    or PG_PW is None
):
    raise ValueError("Environment variables not set")

# connecting to database
db = DataService(PG_DB, PG_ADDR, int(PG_PORT), PG_USER, PG_PW)
conn = db.connect()

In [ ]:
m = ["01", "02", "03", "04"]
dataset_v1 = getDatasetV1(None)
dataset_v1

In [ ]:
dataset_v2 = getDatasetV2(m)
dataset_v2

In [5]:
v3 = getDatasetV3(None)
v3

,year,incidence,severity,district,soil_moisture_mean,avg_percnt_coarse_frag,avg_total_sand,avg_total_silt,avg_total_clay,avg_percnt_carbon,...,avg_elec_cond,avg_percnt_wood,avg_water_holding_cap,avg_land_area,avg_water_area,mean_snow_on_grnd,mean_total_rain,mean_temp,mean_total_snow,mean_total_precip
0,1995,False,0.0,4810,0.185436,0.814580,10.151682,8.183592,5.607801,0.194739,...,0.333493,-2.156050,0.905770,12770.267922,221.887176,0.860822,0.328105,4.239744,0.116534,0.871078
1,1995,False,0.0,4810,0.185436,0.814580,10.151682,8.183592,5.607801,0.194739,...,0.333493,-2.156050,0.905770,12770.267922,221.887176,0.860822,0.328105,4.239744,0.116534,0.871078
2,1995,False,0.0,4810,0.185436,0.814580,10.151682,8.183592,5.607801,0.194739,...,0.333493,-2.156050,0.905770,12770.267922,221.887176,0.860822,0.328105,4.239744,0.116534,0.871078
3,1995,False,0.0,4810,0.185436,0.814580,10.151682,8.183592,5.607801,0.194739,...,0.333493,-2.156050,0.905770,12770.267922,221.887176,0.860822,0.328105,4.239744,0.116534,0.871078
4,1995,False,0.0,4810,0.185436,0.814580,10.151682,8.183592,5.607801,0.194739,...,0.333493,-2.156050,0.905770,12770.267922,221.887176,0.860822,0.328105,4.239744,0.116534,0.871078
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
154043,2021,False,0.0,4612,0.228744,0.503639,3.199984,2.512784,2.212967,1.513430,...,0.049718,-0.809745,0.512122,10423.656001,2815.383217,7.279256,0.052771,-0.004341,0.045026,0.759801
154044,2021,False,0.0,4612,0.228744,0.503639,3.199984,2.512784,2.212967,1.513430,...,0.049718,-0.809745,0.512122,10423.656001,2815.383217,7.279256,0.052771,-0.004341,0.045026,0.759801
154045,2021,False,0.0,4612,0.228744,0.503639,3.199984,2.512784,2.212967,1.513430,...,0.049718,-0.809745,0.512122,10423.656001,2815.383217,7.279256,0.052771,-0.004341,0.045026,0.759801
154046,2021,False,0.0,4612,0.228744,0.503639,3.199984,2.512784,2.212967,1.513430,...,0.049718,-0.809745,0.512122,10423.656001,2815.383217,7.279256,0.052771,-0.004341,0.045026,0.759801
154047,2021,False,0.0,4612,0.228744,0.503639,3.199984,2.512784,2.212967,1.513430,...,0.049718,-0.809745,0.512122,10423.656001,2815.383217,7.279256,0.052771,-0.004341,0.045026,0.759801

# dataset v4 creation

In [3]:
# get ergot data
query = sq.text("select * FROM public.ergot_sample")
ergot_df = pd.read_sql(query, conn)

In [4]:
ergot_df

        sample_id  year province  crop_district  incidence  severity
0               1  1995       AB              1      False       0.0
1               2  1995       AB              1      False       0.0
2               3  1995       AB              1      False       0.0
3               4  1995       AB              1      False       0.0
4               5  1995       AB              1      False       0.0
...           ...   ...      ...            ...        ...       ...
158684     158685  2022       SK             81      False       0.0
158685     158686  2022       SK             81      False       0.0
158686     158687  2022       SK             81      False       0.0
158687     158688  2022       AB              7      False       0.0
158688     158689  2022       AB              7      False       0.0

[158689 rows x 6 columns]