percent_true
has_ergot indicates if there is at least one true
sum_severity
previous_one_has_ergot indicates if there is at least one true last year
previous_one_severity
previous_two_has_ergot indicates if there is at least one true two years ago
previous_two_severity

we also need a car_uid column to link the prov - district in this table to the ag region boundary table

the final ergot table has

In [32]:
import sqlalchemy as sq
import geopandas as gpd  # type: ignore
import pandas as pd  # type: ignore
from dotenv import load_dotenv
import os, sys

sys.path.append("../")
from Shared.DataService import DataService  # type: ignore

In [3]:
load_dotenv()
PG_DB = os.getenv("POSTGRES_DB")
PG_ADDR = os.getenv("POSTGRES_ADDR")
PG_PORT = os.getenv("POSTGRES_PORT")
PG_USER = os.getenv("POSTGRES_USER")
PG_PW = os.getenv("POSTGRES_PW")

In [58]:
db = DataService(PG_DB, PG_ADDR, PG_PORT, PG_USER, PG_PW)
conn = db.connect()

In [59]:
query = "SELECT * FROM public.ergot_sample"
ergot = pd.read_sql_query(query, conn)  # type: ignore
#components = pd.DataFrame(query, columns=["soil_id", "poly_id"])  # type: ignore

In [60]:
ergot

        sample_id  year province  crop_district  incidence  severity
0               1  1995       AB              1      False       0.0
1               2  1995       AB              1      False       0.0
2               3  1995       AB              1      False       0.0
3               4  1995       AB              1      False       0.0
4               5  1995       AB              1      False       0.0
...           ...   ...      ...            ...        ...       ...
158684     158685  2022       SK             81      False       0.0
158685     158686  2022       SK             81      False       0.0
158686     158687  2022       SK             81      False       0.0
158687     158688  2022       AB              7      False       0.0
158688     158689  2022       AB              7      False       0.0

[158689 rows x 6 columns]

In [61]:
# calculate the car_uid
ergot.loc[ergot['province'] == 'MB', 'car_uid'] = ergot.loc[ergot['province'] == 'MB', 'crop_district'] + 4600
ergot.loc[ergot['province'] == 'SK', 'car_uid'] = (ergot.loc[ergot['province'] == 'SK', 'crop_district'] - 1) + 4700 
ergot.loc[ergot['province'] == 'AB', 'car_uid'] = (ergot.loc[ergot['province'] == 'AB', 'crop_district'] * 10) + 4800

In [62]:
ergot

        sample_id  year province  crop_district  incidence  severity  car_uid
0               1  1995       AB              1      False       0.0   4810.0
1               2  1995       AB              1      False       0.0   4810.0
2               3  1995       AB              1      False       0.0   4810.0
3               4  1995       AB              1      False       0.0   4810.0
4               5  1995       AB              1      False       0.0   4810.0
...           ...   ...      ...            ...        ...       ...      ...
158684     158685  2022       SK             81      False       0.0   4780.0
158685     158686  2022       SK             81      False       0.0   4780.0
158686     158687  2022       SK             81      False       0.0   4780.0
158687     158688  2022       AB              7      False       0.0   4870.0
158688     158689  2022       AB              7      False       0.0   4870.0

[158689 rows x 7 columns]

In [63]:
ergot[['car_uid']] = ergot[['car_uid']].astype(int)

In [64]:
ergot

        sample_id  year province  crop_district  incidence  severity  car_uid
0               1  1995       AB              1      False       0.0     4810
1               2  1995       AB              1      False       0.0     4810
2               3  1995       AB              1      False       0.0     4810
3               4  1995       AB              1      False       0.0     4810
4               5  1995       AB              1      False       0.0     4810
...           ...   ...      ...            ...        ...       ...      ...
158684     158685  2022       SK             81      False       0.0     4780
158685     158686  2022       SK             81      False       0.0     4780
158686     158687  2022       SK             81      False       0.0     4780
158687     158688  2022       AB              7      False       0.0     4870
158688     158689  2022       AB              7      False       0.0     4870

[158689 rows x 7 columns]

In [ ]:
# year                  ######
# province              ######
# crop_district         ######
# car_uid               ######
# percent_true
# has_ergot indicates if there is at least one true
# sum_severity
# previous_one_has_ergot indicates if there is at least one true last year
# previous_one_severity
# previous_two_has_ergot indicates if there is at least one true two years ago
# previous_two_severity
# previous_three_severity
# bordering agRegion has Ergot

In [57]:
db.cleanup()