In [116]:
from matplotlib import pyplot as plt  # type: ignore
from matplotlib import cm, colors  # type: ignore
from dotenv import load_dotenv
import geopandas as gpd  # type: ignore
import sqlalchemy as sq
import pandas as pd  # type: ignore
import numpy as np
import os, sys

sys.path.append("../")
from Shared.DataService import DataService

from DataCreation import getDatasetV1

In [117]:
dataset_v1 = getDatasetV1();
dataset_v1

ResourceClosedError: This Connection is closed

In [102]:
query = sq.text("select * FROM public.agg_ergot_samples")
ergot_df = pd.read_sql(query, conn)
ergot_df.drop(ergot_df[ergot_df['district'] == 4730].index, inplace=True)
ergot_df = ergot_df[['year', 'district', 'has_ergot']]
ergot_df

      year  district  has_ergot
0     1995      4810      False
1     1995      4820      False
2     1995      4830       True
3     1995      4840       True
4     1995      4850       True
...    ...       ...        ...
1087  2022      4761       True
1088  2022      4771       True
1089  2022      4790       True
1090  2022      4791       True
1091  2022      4610      False

[1064 rows x 3 columns]

In [103]:
agg_weather = pd.read_csv('aggregatedDly.csv')
agg_weather

,Unnamed: 0,year,district,01-01:max_temp,01-01:min_temp,01-01:mean_temp,01-01:min_total_rain,01-01:max_total_rain,01-01:mean_total_rain,01-01:min_total_snow,...,12-31:mean_total_rain,12-31:min_total_snow,12-31:max_total_snow,12-31:mean_total_snow,12-31:min_total_precip,12-31:max_total_precip,12-31:mean_total_precip,12-31:min_snow_on_grnd,12-31:max_snow_on_grnd,12-31:mean_snow_on_grnd
0,0,1995,4860,-8.0375,-20.200000,-14.137500,0.0,0.0,0.0,0.0,...,0.0,0.0,7.3,1.70,0.0,1.5,0.444444,0.0,36.0,16.333333
1,1,1995,4810,-7.4200,-17.000000,-12.220000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.000000,0.0,19.0,6.600000
2,2,1995,4840,-8.3000,-19.425000,-13.875000,0.0,0.0,0.0,0.0,...,0.0,0.0,2.9,1.52,0.0,7.7,2.280000,0.0,24.0,8.800000
3,3,1995,4830,-5.7500,-20.258333,-13.033333,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,5.1,0.392308,0.0,28.0,5.615385
4,4,1995,4731,-7.3000,-19.650000,-13.500000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1059,1059,2022,4605,-28.3000,-33.000000,-30.700000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.000000,27.0,27.0,27.000000
1060,1060,2022,4720,-24.8000,-36.900000,-30.850000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.1,0.050000,23.0,34.0,28.500000
1061,1061,2022,4611,-25.8000,-35.600000,-30.700000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.1,0.1,0.100000,14.0,14.0,14.000000
1062,1062,2022,4751,-22.9000,-33.600000,-28.300000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.0,0.000000,6.0,6.0,6.000000
1063,1063,2022,4750,-28.0500,-35.650000,-31.850000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.00,0.0,0.1,0.050000,0.0,23.0,11.500000

,year,district,mean_total_snow,mean_total_precip,mean_snow_on_grnd,mean_temp,mean_total_rain
0,1995,4860,0.303979,1.189348,6.005903,0.451735,0.529384
1,1995,4810,0.116534,0.871078,0.860822,4.239744,0.328105
2,1995,4840,0.155237,0.790694,3.564932,1.628772,0.250507
3,1995,4830,0.135583,1.299196,1.054999,3.060292,0.332711
4,1995,4731,0.010502,0.908037,0.010959,2.796575,0.078265
...,...,...,...,...,...,...,...
1059,2022,4605,0.000000,1.151507,14.356164,0.777808,0.000000
1060,2022,4720,0.000000,1.097808,6.519178,2.653288,0.000000
1061,2022,4611,0.000000,2.099726,5.945205,1.931507,0.000000
1062,2022,4751,0.000000,1.102466,5.210959,1.386849,0.000000
1063,2022,4750,0.000000,1.163562,4.393151,1.238356,0.000000

,year,district,mean_total_snow,mean_total_precip,mean_snow_on_grnd,mean_temp,mean_total_rain,has_ergot
0,1995,4860,0.303979,1.189348,6.005903,0.451735,0.529384,False
1,1995,4810,0.116534,0.871078,0.860822,4.239744,0.328105,False
2,1995,4840,0.155237,0.790694,3.564932,1.628772,0.250507,True
3,1995,4830,0.135583,1.299196,1.054999,3.060292,0.332711,True
4,1995,4731,0.010502,0.908037,0.010959,2.796575,0.078265,True
...,...,...,...,...,...,...,...,...
1059,2022,4605,0.000000,1.151507,14.356164,0.777808,0.000000,True
1060,2022,4720,0.000000,1.097808,6.519178,2.653288,0.000000,True
1061,2022,4611,0.000000,2.099726,5.945205,1.931507,0.000000,True
1062,2022,4751,0.000000,1.102466,5.210959,1.386849,0.000000,True
1063,2022,4750,0.000000,1.163562,4.393151,1.238356,0.000000,True