In [1]:
import sys
import os
import pandas as pd

from sklearn.model_selection import train_test_split  # type: ignore

sys.path.append("../")
from Datasets.DataCreation import getDatasetV1, getDatasetV2, getDatasetV3

from Datasets.DataTestSplit import splitData

In [2]:
TARGET = "has_ergot"
months = ["1", "2", "3", "4", "5", "6", "7", "8", "9"]

df = getDatasetV1(months)
df[TARGET] = df[TARGET].astype(int)  # 0: Flase, 1: True
t = pd.get_dummies(df["district"], drop_first=True)
df = pd.concat([df, t], axis=1)
df.columns = df.columns.astype(str)
df.drop_duplicates(inplace=True)
# df.drop(["severity"], axis=1, inplace=True)
df

,year,district,mean_snow_on_grnd,mean_total_snow,mean_total_precip,mean_temp,mean_total_rain,has_ergot,4602,4603,...,4781,4790,4791,4810,4820,4830,4840,4850,4860,4870
0,1995,4860,7.397947,0.508508,0.703097,-8.308038,0.127390,0,0,0,...,0,0,0,0,0,0,0,0,1,0
207,1995,4810,2.347283,0.246685,0.699891,-3.942174,0.202391,0,0,0,...,0,0,0,1,0,0,0,0,0,0
439,1995,4840,4.026087,0.272428,0.434457,-7.018804,0.023587,1,0,0,...,0,0,0,0,0,0,1,0,0,0
1270,1995,4830,3.204903,0.272457,0.866053,-3.630185,0.069559,1,0,0,...,0,0,0,0,0,1,0,0,0,0
1459,1995,4731,0.000000,0.000000,0.532790,-4.529529,0.000000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157073,2022,4605,8.217391,0.000000,0.675000,-6.471739,0.000000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
157133,2022,4720,7.521739,0.000000,0.259239,-5.984783,0.000000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
157177,2022,4611,3.836957,0.000000,0.805435,-3.959783,0.000000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
157189,2022,4751,3.641304,0.000000,0.770652,-6.557609,0.000000,1,0,0,...,0,0,0,0,0,0,0,0,0,0
157282,2022,4750,3.081522,0.000000,0.276087,-6.777174,0.000000,1,0,0,...,0,0,0,0,0,0,0,0,0,0

# split

In [3]:
# devine important variables
PIVOT = 2019
TARGET = "has_ergot"
STRATIFIED = False
VAL_SIZE = 0.2

NOT_USEFUL_FEATUES = ["year", "district"]

In [4]:
def splitData2(
    df: pd.DataFrame, drop_features: list, target_variable: str
) -> tuple[pd.DataFrame, pd.Series]:
    if drop_features == None:
        drop_features = []

        if target_variable in drop_features:
            drop_features.remove(TARGET)

        if "year" in drop_features:
            drop_features.remove("year")

    df.drop(columns=drop_features, inplace=True)
    X = df.drop(columns=[target_variable])
    y = df[target_variable]

    return X, y

In [5]:
# train set
df_train = df[df["year"] < PIVOT]  # all data before PIVOT
X_train_df, y_train_df = splitData2(
    df_train, NOT_USEFUL_FEATUES, TARGET
)  # split data into X_train_df and y_train_df

# test set
df_test = df[df["year"] >= PIVOT]  # all data after and including PIVOT
X_test, y_test = splitData2(
    df_test, NOT_USEFUL_FEATUES, TARGET
)  # split data into X and y

/tmp/ipykernel_335200/4293761160.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=drop_features, inplace=True)
/tmp/ipykernel_335200/4293761160.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=drop_features, inplace=True)

In [6]:
# now train test for validation
if STRATIFIED:
    X_train, X_val, y_train, y_val = train_test_split(
        X_train_df, y_train_df, test_size=VAL_SIZE, random_state=42, stratify=y_train_df
    )
else:
    X_train, X_val, y_train, y_val = train_test_split(
        X_train_df, y_train_df, test_size=VAL_SIZE, random_state=42
    )

In [7]:
X_train.shape

(711, 42)

In [8]:
a, b, c, d, e, f = splitData(
    df,
    drop_features=NOT_USEFUL_FEATUES,
    target_variable=TARGET,
    pivot=PIVOT,
    val_size=0.2,
    stratified=True,
)

/home/student/dodhiajk/CGC_Grain_Outcome_Predictions/src/Models/../Datasets/DataTestSplit.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=drop_features, inplace=True)
/home/student/dodhiajk/CGC_Grain_Outcome_Predictions/src/Models/../Datasets/DataTestSplit.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=drop_features, inplace=True)

In [9]:
a.shape

(711, 42)