In [1]:
import sys
import os
from dotenv import load_dotenv

import numpy as np
import pandas as pd
import sqlalchemy as sq
import matplotlib.pyplot as plt
import seaborn as sns
from pandas_profiling import ProfileReport
from imblearn.over_sampling import RandomOverSampler

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.metrics import accuracy_score, classification_report, roc_curve, auc

import tensorflow
from tensorflow import keras
from tensorflow.keras.optimizers import Adam 
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense



sys.path.append("../Shared/")
from DataService import DataService

/tmp/ipykernel_3424191/2969248645.py:10: DeprecationWarning: `import pandas_profiling` is going to be deprecated by April 1st. Please use `import ydata_profiling` instead.
  from pandas_profiling import ProfileReport
2023-07-19 15:03:38.461846: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-07-19 15:03:38.961193: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
sys.path.append("../Datasets/")
from DataCreation import getDatasetV1, getDatasetV2

### fetch data

In [5]:
df = getDatasetV1(None)
# print(df.duplicated().sum())
# df.drop(columns=['year', 'district'], inplace=True)
# df.drop_duplicates(inplace=True)
df

,year,district,mean_total_rain,mean_total_snow,mean_snow_on_grnd,mean_temp,mean_total_precip,has_ergot
0,1995,4860,0.529384,0.303979,6.005903,0.451735,1.189348,False
1,1995,4860,0.529384,0.303979,6.005903,0.451735,1.189348,False
2,1995,4860,0.529384,0.303979,6.005903,0.451735,1.189348,False
3,1995,4860,0.529384,0.303979,6.005903,0.451735,1.189348,False
4,1995,4860,0.529384,0.303979,6.005903,0.451735,1.189348,False
...,...,...,...,...,...,...,...,...
157409,2022,4750,0.000000,0.000000,4.393151,1.238356,1.163562,True
157410,2022,4750,0.000000,0.000000,4.393151,1.238356,1.163562,True
157411,2022,4750,0.000000,0.000000,4.393151,1.238356,1.163562,True
157412,2022,4750,0.000000,0.000000,4.393151,1.238356,1.163562,True
157413,2022,4750,0.000000,0.000000,4.393151,1.238356,1.163562,True