In [1]:
# importing libraries
import xarray as xr
import geopandas as gpd
import numpy as np
import regionmask
from pyproj import CRS

In [2]:
# specifying paths
shapefile_path = "C:\jay projects\school\COMP 4560\CGC_Grain_Outcome_Predictions\src\MoistureSatelliteTest\lpr_000b16a_e.shp"
netcdf_file_path = "C:\jay projects\school\COMP 4560\CGC_Grain_Outcome_Predictions\src\MoistureSatelliteTest\perfectDemo.nc"

In [3]:
# reading shape file
shapefile = gpd.read_file(shapefile_path)

In [4]:
# Match the netCDF CRS (EPSG:4326)
netcdf_crs = CRS.from_epsg(4326)

In [5]:
# Load the netCDF dataset
dataset = xr.open_dataset(netcdf_file_path)

C:\Users\jaydo\AppData\Local\Programs\Python\Python311\Lib\site-packages\xarray\coding\times.py:254: RuntimeWarning: invalid value encountered in cast
  flat_num_dates_ns_int = (flat_num_dates * _NS_PER_TIME_DELTA[delta]).astype(

In [6]:
# Reproject the shapefile to match the netCDF CRS
shapefile_reprojected = shapefile.to_crs(netcdf_crs)

In [7]:
# Create a mask for the shapefile
mask = regionmask.mask_geopandas(shapefile_reprojected, dataset.lon, dataset.lat)

In [8]:
# Apply the mask to the dataset
masked_data = dataset.where(mask)

C:\Users\jaydo\AppData\Local\Programs\Python\Python311\Lib\site-packages\xarray\coding\times.py:254: RuntimeWarning: invalid value encountered in cast
  flat_num_dates_ns_int = (flat_num_dates * _NS_PER_TIME_DELTA[delta]).astype(

In [9]:
# Convert the masked data to a GeoPandas DataFrame
masked_gdf = masked_data.to_dataframe().reset_index()

In [10]:
masked_gdf

,time,lat,lon,sm,flag,freqbandID,dnflag,mode,sensor,t0
0,2004-06-05,89.875,-179.875,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,2004-06-05,89.875,-179.625,NaN,NaN,NaN,NaN,NaN,NaN,NaT
2,2004-06-05,89.875,-179.375,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,2004-06-05,89.875,-179.125,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,2004-06-05,89.875,-178.875,NaN,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...
1036795,2004-06-05,-89.875,178.875,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1036796,2004-06-05,-89.875,179.125,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1036797,2004-06-05,-89.875,179.375,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1036798,2004-06-05,-89.875,179.625,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1036799,2004-06-05,-89.875,179.875,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [11]:
# Print the GeoPandas DataFrame
print(masked_gdf['sm'].count())

137315

In [12]:
masked_gdf['sm']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
1036795   NaN
1036796   NaN
1036797   NaN
1036798   NaN
1036799   NaN
Name: sm, Length: 1036800, dtype: float32

In [24]:
manitoba = shapefile[shapefile['PRNAME'] == "Manitoba"]

In [25]:
manitoba

,PRUID,PRNAME,PRENAME,PRFNAME,PREABBR,PRFABBR,geometry
6,46,Manitoba,Manitoba,Manitoba,Man.,Man.,"MULTIPOLYGON (((6039656.509 2636304.343, 60396..."

In [26]:
manitoba_reprojected = manitoba.to_crs(netcdf_crs)

In [28]:
manitoba_reprojected

,PRUID,PRNAME,PRENAME,PRFNAME,PREABBR,PRFABBR,geometry
6,46,Manitoba,Manitoba,Manitoba,Man.,Man.,"MULTIPOLYGON (((-94.82341 59.99352, -94.82398 ..."

In [29]:
# Create a mask for the shapefile
mask_manitoba = regionmask.mask_geopandas(manitoba_reprojected, dataset.lon, dataset.lat)

In [30]:
# Apply the mask to the dataset
masked_data_manitoba = dataset.where(mask_manitoba)

C:\Users\jaydo\AppData\Local\Programs\Python\Python311\Lib\site-packages\xarray\coding\times.py:254: RuntimeWarning: invalid value encountered in cast
  flat_num_dates_ns_int = (flat_num_dates * _NS_PER_TIME_DELTA[delta]).astype(

In [31]:
# Convert the masked data to a GeoPandas DataFrame
masked_gdf_manitoba = masked_data_manitoba.to_dataframe().reset_index()

In [18]:
masked_gdf_manitoba['sm']

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
           ..
1036795   NaN
1036796   NaN
1036797   NaN
1036798   NaN
1036799   NaN
Name: sm, Length: 1036800, dtype: float32

In [32]:
masked_gdf_manitoba['sm'].count()

137713

In [35]:
alberta = shapefile_reprojected[shapefile_reprojected['PRNAME'] == "Alberta"]

In [36]:
alberta

,PRUID,PRNAME,PRENAME,PRFNAME,PREABBR,PRFABBR,geometry
8,48,Alberta,Alberta,Alberta,Alta.,Alb.,"POLYGON ((-110.00000 59.95257, -110.00000 59.9..."

In [37]:
mask_alberta = regionmask.mask_geopandas(alberta, dataset.lon, dataset.lat)

In [40]:
masked_data_alberta = dataset.where(mask_alberta)

C:\Users\jaydo\AppData\Local\Programs\Python\Python311\Lib\site-packages\xarray\coding\times.py:254: RuntimeWarning: invalid value encountered in cast
  flat_num_dates_ns_int = (flat_num_dates * _NS_PER_TIME_DELTA[delta]).astype(

In [42]:
masked_gdf_alberta = masked_data_alberta.to_dataframe().reset_index()

In [43]:
masked_gdf_alberta['sm'].count()

137713

In [48]:
dataset.lon[0]

<xarray.DataArray 'lon' ()>
array(-179.875)
Coordinates:
    lon      float64 -179.9
Attributes:
    standard_name:        longitude
    units:                degrees_east
    valid_range:          [-180.  180.]
    _CoordinateAxisType:  Lon